@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #f4dde3;
}

header {
    background-color: #b97c8c;
    box-shadow: 0px 3px 10px #563f3f;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 0.6rem 4rem; /* Reduzindo o preenchimento */
    align-items: center; /* Centralizando verticalmente */
}

.logo {
    display: flex;
    align-items: center;
}

.logo h2 {
    color: #fff;
    font-size: 1.5rem; /* Tamanho menor para o título */
}

.nav-list ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin: 0 10px; /* Reduzindo a margem entre os itens do menu */
}

.nav-link {
    text-decoration: none;
    font-size: 1rem; /* Tamanho menor para os links */
    color: #ffffff;
    font-weight: 400;
}

.nav-link:hover {
    color: #a70162;
}

.login-button {
    border: none;
    padding: 8px 12px; /* Reduzindo o preenchimento */
    border-radius: 5px;
    color: #fff;
}

.login-button button {
    color: aliceblue;
    font-size: 0.9rem; /* Tamanho menor para o texto do botão */
    padding: 6px 10px; /* Reduzindo o preenchimento interno do botão */
}

.mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 6px; /* Ajustando o preenchimento do ícone do menu */
}

.mobile-menu {
    display: none;
}

.mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
    margin: 0; /* Removendo margem */
}

.mobile-menu .nav-item {
    padding-top: 0.8rem; /* Ajustando o espaçamento dos itens do menu no modo mobile */
}

.mobile-menu .login-button {
    padding: 0.8rem 1.6rem; /* Ajustando o preenchimento do botão no modo mobile */
}

.h5 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #a70162;
}
