/* Reset de estilos para garantir consistência */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para o cabeçalho */
header {
    background-color: #b97c8c; /* Cor de fundo do cabeçalho */
    color: #ffffff; /* Cor do texto no cabeçalho */
    padding: 15px 20px; /* Espaçamento interno do cabeçalho */
}

/* Estilos para o logotipo */
.logo h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 28px; /* Tamanho da fonte do logotipo */
}

/* Estilos para a lista de navegação */
.nav-list ul {
    list-style: none; /* Remover os marcadores da lista */
    display: flex;
}

.nav-item {
    margin-right: 20px; /* Espaçamento entre os itens do menu */
}

.nav-link {
    text-decoration: none; /* Remover decoração do link */
    color: #ffffff; /* Cor do texto do link */
    font-weight: bold; /* Fonte em negrito para os links */
    transition: color 0.3s ease; /* Transição suave da cor ao passar o mouse */
}

.nav-link:hover {
    color: #a70162; /* Cor do texto ao passar o mouse */
}

/* Estilos para o menu mobile */
.mobile-menu {
    display: none; /* Ocultar menu mobile por padrão */
}

/* Media query para exibir o menu mobile em telas menores */
@media screen and (max-width: 768px) {
    .nav-list ul {
        display: none; /* Ocultar a lista no modo mobile */
    }

    .mobile-menu {
        display: block; /* Exibir menu mobile */
    }

    /* Estilos para os links do menu mobile */
    .mobile-menu ul {
        padding: 10px 0;
    }

    .mobile-menu .nav-item {
        margin-bottom: 10px;
    }

    .mobile-menu .nav-link {
        color: #ffffff;
        text-decoration: none;
        display: block;
        padding: 10px;
    }

    .mobile-menu .nav-link:hover {
        background-color: #a70162;
    }
}
